#mainpic {
    box-shadow: 0 0 5px white;
    margin-top: 2px;
    border: 0;
    border-radius: 2px;

}
#mainpic:hover {
    box-shadow: 0 0 25px whitesmoke;
    transform: scale(1.02);
    transition: 1s;
}

nav {
background-color: rgb(214, 75, 5);
}

.overlay-text {
    position: absolute;
    padding-top: 35px;
    font-family: monospace;
    font-size: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    width: 12ch;
    animation: typing 2s steps(12) forwards,
    blink 1s step-end infinite ;
    left: 50%;
    transform: translate(-50%, 0%);
}
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 13ch;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes outtoin {
    from {
         width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes outtoin2 {
    from {
         width: 150%;
    }

    to {
        width: 100%;
    }
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
} 
#contactStatment {
    margin-top: 50px;
    font-size: 1.5em;
    text-align: center;
    width: 750px;
    
}
#contact-form {
 border: solid 1px;
 border-radius: 10px;
 margin: 25px;
 padding: 25px;
}
.contact-form > div {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.contact-form label {
    width: 200px;
}
.contact-form input {
    flex: 1;
}